{% extends 'base.html.twig' %}

{% block title %}AUTO PARTS CATALOG 2024{% endblock %}

{% block body %}
<div class="container">

    {{ include('blocks/_page_header.html.twig') }}
    <div class="card card-md">
        <div class="card-body">
            {{ form_start(languagesForm,
                {
                    'attr': {
                        'class': 'languagesForm',
                        'action': url('home') ,
                        'method': 'POST',
                        'id':'languagesForm',
                        'data-controller': 'language'
                    }
                })
            }}
            <div class="row">
                <div class="col-12">
                    <h4>Default Lang is English (GB)</h4>
                    <h4>Default Country Filter for Spare Parts is Germany</h4>
                </div>
                <div class="col-md-4 ">
                    <div class="mb-3">
                        {{ form_errors(languagesForm.lngDescription) }}
                        {{ form_label(languagesForm.lngDescription) }}
{#                        {{ form_widget(languagesForm.lngDescription) }}#}
                        {{ form_widget(languagesForm.lngDescription, {
                        'attr': {
                            'data-action': 'change->language#changeLanguage',
                            'data-language-target': 'language'
                        }
                        }) }}
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="mb-3">
                        {{ form_errors(languagesForm.countryFilter) }}
                        {{ form_label(languagesForm.countryFilter) }}
{#                        {{ form_widget(languagesForm.countryFilter) }}#}
                        {{ form_widget(languagesForm.countryFilter, {
                        'attr': {
                            'class': 'form-select',
                            'data-language-target': 'countryFilter'
                        }
                        }) }}
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="mb-3">
                        {{ form_errors(languagesForm.type) }}
                        {{ form_label(languagesForm.type) }}
                        {{ form_widget(languagesForm.type) }}
                    </div>
                </div>
            </div>
            {{ form_end(languagesForm) }}

        </div>
    </div>

    <hr>

</div>

{% endblock %}
