<ul>
    {% for nodeId, category in categories %}
        <li>
            {{ category.text }} -
                <a target="_blank" class="btn btn-primary" href="{{ url('listArticlesByCarAndProductGroup', {'passengerCarId': passengerCarID, 'productGroupId': nodeId } ) }}">List products for {{ nodeId }} </a>
                <a target="_blank" class="btn btn-primary" href="{{ url('listOemArticlesByCarAndProductGroup', {'passengerCarId': passengerCarID, 'productGroupId': nodeId } ) }}">List OEM products for {{ nodeId }} </a>
            {% if category.children|length > 0 %}
                {% include 'category/_subcategories.html.twig' with {'categories': category.children} %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
