{% extends 'base.html.twig' %}

{% block title %} List {{ manufacturer.mfaBrand}} Cars Models  | {{ parent() }}  {% endblock %}

{% block body %}


<div class="container">

    {{ include('blocks/_page_header.html.twig') }}
    <h1>{{ manufacturer.mfaBrand }} Models </h1>
    <h2>Models count: {{ models.countModels }}</h2>
    <hr>

    {{ include('blocks/_page_sub_header.html.twig') }}



    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <label class="form-label"><strong>Search Models</strong></label>
                <input class="form-control" type="text" id="modelInput" onkeyup="searchModels()" placeholder="Search.." title="Search">
            </div>
        </div>
    </div>

    <script>
        function searchModels() {
            const input = document.getElementById("modelInput");
            const filter = input.value.toUpperCase();
            const brandElements = document.querySelectorAll(".colman");

            brandElements.forEach((element) => {
                const cardTitle = element.querySelector(".card-title a");
                const txtValue = cardTitle.textContent || cardTitle.innerText;
                const shouldDisplay = txtValue.toUpperCase().indexOf(filter) > -1;
                element.style.display = shouldDisplay ? "" : "none";
            });
        }
    </script>


    <div class="row">
        {% for m in models.models %}
            <div class="colman col-12 col-md-4 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ url('listVehicleTypes', {'modelId': m.modelId, 'manufacturerId': manufacturerId, 'langId':langId, 'countryId': countryId, 'typeId': typeId  }) }}">
                                <strong> {{ manufacturer.mfaBrand~' '~m.modelName }}</strong>
                            </a>
                        </h5>
                        <p class="card-text">
                            ID: {{ m.modelId }}
                            <br>
                            <strong>{{ m.modelName }}</strong>
                            <br>
                            From: {{ m.modelYearFrom }}
                            <br>
                            To: {{ m.modelYearTo }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-success" href="{{ url('listVehicleTypes', {'modelId': m.modelId, 'manufacturerId': manufacturerId, 'langId':langId, 'countryId': countryId, 'typeId': typeId  }) }}">
                            More details
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}



    </div>


</div>
{% endblock %}
