<div class="card-body">
    <dl class="row">
        <dt class="col-sm-4">Type</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.brand }}</dd>

        <dt class="col-sm-4">Construction Interval</dt>
        <dd class="col-sm-8">
            From: {{ vehicleTypeDetails.constructionIntervalStart }}<br>
            To: {{ vehicleTypeDetails.constructionIntervalEnd }}
        </dd>

        <dt class="col-sm-4">Power (kW)</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.powerKw }}</dd>

        <dt class="col-sm-4">Power (PS)</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.powerPs }}</dd>

        <dt class="col-sm-4">Capacity</dt>
        <dd class="col-sm-8">
            Tax:{{ vehicleTypeDetails.capacityTax }}<br>
            Liters: {{ vehicleTypeDetails.capacityLt }}<br>
            Tech: {{ vehicleTypeDetails.capacityTech }}
        </dd>

        <dt class="col-sm-4">ABS</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.abs }}</dd>

        <dt class="col-sm-4">ASR</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.asr }}</dd>

        <dt class="col-sm-4">Number of Cylinders</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.numberOfCylinders }}</dd>

        <dt class="col-sm-4">Number of Valves</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.numberOfValves }}</dd>

        <dt class="col-sm-4">Body Type</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.bodyType }}</dd>

        <dt class="col-sm-4">Engine Type</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.engineType }}</dd>

        <dt class="col-sm-4">Gear Type</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.gearType }}</dd>

        <dt class="col-sm-4">Drive Type</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.driveType }}</dd>

        <dt class="col-sm-4">Brake System</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.brakeSystem }}</dd>

        <dt class="col-sm-4">Brake Type</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.brakeType }}</dd>

        <dt class="col-sm-4">Fuel Type</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.fuelType }}</dd>

        <dt class="col-sm-4">Catalysator Type</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.catalysatorType }}</dd>

        <dt class="col-sm-4">Fuel Mixture</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.fuelMixture }}</dd>

        <dt class="col-sm-4">Engine Codes</dt>
        <dd class="col-sm-8">{{ vehicleTypeDetails.engCodes }}</dd>
    </dl>
</div>